html {
    min-height: 100%;
  }

  body {
    background-color: bisque;
    background-size: cover;
  }

  .my-style {
    color: rgb(201, 173, 104);
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .buttonx {
     width: 60px;
    color: white;
    background-color: red;
    font-family: "Times New Roman", Times, serif, "Times New Roman", Times,
      serif;
      transition: ease-in right: inherit; .5s;
    border-radius: 40px;
    block-size: 45px;
    outline: none;
  }

  .buttonx:hover {
         box-shadow: inset  300px  0 0 0  purple;
         cursor: pointer;
         color: black;
          }

          .world {
            border-radius: 40px;
          }

          .tesla {
            border-radius: 40px;
          }

          html {
            min-height: 100%;
          }
    
          body {
            background-color: bisque;
            background-size: cover;
          }
    
          .C1 {
            color: rgb(201, 164, 119);
            text-align: center;
            font-family: Georgia, "Times New Roman", Times, serif;
          }
    
          .Buttonx {
              width: 4rem;
            color: rgb(255, 255, 255);
            background-color: red;
            font-family: "Times New Roman", Times, serif, "Times New Roman", Times,
              serif;
              transition: inherit;
            border-radius: 40px;
            block-size: 45px;
            border-block-width: 0px;
            outline: none;
          }
    
          .Buttonx:hover {
            box-shadow: inset 4rem 0 0 0 purple;
            color: black;
            cursor: pointer;
          }
    
          .Buttonx2 {
              width: 5rem;
            color: white;
            background-color: red;
            font-family: "Times New Roman", Times, serif, "Times New Roman", Times,
              serif;
              transition: inherit;
            border-radius: 40px;
            block-size: 45px;
            border-block-width: 0px;
            outline: none;
          }
    
          .Buttonx2:hover {
            box-shadow: inset 5rem 0 0 0 purple;
            color: black;
            cursor: pointer;
            }
